<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/connexion.css" />
  </head>
  <body>
    <div class="cards">
      <!-- <div class="card1"></div> -->
      <div class="card2">
        <div class="croix">
          <a href="/"><img src="/picture/ferme1.png" alt="" /></a>
        </div>
       
        <h3>Categorie</h3>
        <form action="/categorieForm" method="post">
          <div class="input">
            
            <div class="champs" style="margin-bottom: 30px">
              <input
              type="text"
              name="categorie"
              id="categorie"
              class="categorie"
              placeholder="   entrer votre Categorie"
            />
            </div>
          </div>
          <div><input type="submit" value="Envoyer" class="connexion" /></div>
          
        </form>
      </div>
    </div>
  </body>
</html>
