<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/editer.css" />
  </head>
  <body>
    <div class="cards">
      <!-- <div class="card1"></div> -->
      <div class="card2">
        <div class="croix">
          <a href="../index2"><img src="/picture/ferme1.png" alt="" /></a>
        </div>
        <h3>Editer</h3>
        <form method="post" action="/profil/editer">
          <div class="input">
            <div class="champs" style="margin-bottom: 60px; margin-top: 25px">
              <input
                type="text"
                name="nom"
                id="nom"
                value="<%= user.nom %>"
                placeholder="   enter votre nom"
              />
            </div>
            <div class="champs" style="margin-bottom: 60px">
              <input
                type="email"
                name="email"
                id="email"
                value="<%= user.email %>"
                placeholder="   entrer votre mail"
              />
            </div>
            <div class="champs" style="margin-bottom: 60px">
              <input
                type="password"
                name="password"
                id="password"
                value="<%= user.password %>"
                placeholder="  entrer votre mot de pass"
              />
            </div>
            <div class="champs">
              <input
                type="number"
                name="numero"
                id="numero"
                value="<%= user.numero %>"
                placeholder="  entrer votre contact"
              />
            </div>
            <div class="champs">
              <input type="hidden" name="statut" id="statut" value="statut" />
            </div>
          </div>
          <div>
            <input type="submit" value="Modifier" class="inscription" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
