<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/hearder2.css">
  </head>
  <body>
    <nav class="navbar">
      <!-- logo -->
      <a href="index2" class="logo">Md Service</a>
      <!-- menu navigation -->
      <!-- icons hanberguer -->
      <ul class="nav-links">
        <input type="checkbox" id="papa" />
        <label for="papa" class="hamburger">&#9776;</label>

        <div class="menu">
          <li><a href="index2">Accueil</a></li>
          <li><a href="index2">Livres</a></li>
          <li><a href="contact">Contact</a></li>

          <li><a href="/" id="principale"></a></li>

          <li>
            <a href=""
              ><img src="../picture/panier.svg" alt="" /><span id="count">(0)</span></a
            >
          </li>
          <li>
            <a href="./profil" 
              ><img src="../picture/profil.svg" alt=""
            /><span>
              <% if (typeof nom !="undefined" && nom) { %>
                <span class="validation">
                  <%= nom %> <br>
                </span>
              <% }%>
            </span></a>
          </li>
          <li><a href="/deconnexion">Deconnexion</a></li>
        </div>
      </ul>
    </nav>



    <div class="partie1">
     
    </div>
  

    <!-- partie livre islamique -->
    <div class="container" id="">
     
     
      <div class="card"  style="margin-top: 90px;">
        <div  class="carre">
          <div class="text">
            <h1>Livres Islamique</h1>
          </div>

          <div class="image">
            <img src="../picture/coran-removebg-preview.png" alt="" height="100px" width="100px">
          </div>
          <div class="prix">
            <div class="titre">CORAN</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>


        </div>
        <div  class="carre">
          <div class="image"><img src="../picture/coran-removebg-preview.png" alt="" height="100px" width="100px"></div>
          <div class="prix">
            <div class="titre">CORAN</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>
        </div>

        <div class="carre">
          <div class="image">
            <img src="../picture/coran-removebg-preview.png" alt="" height="100px" width="100px">
          </div>
          <div class="prix">
            <div class="titre">CORAN</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>
          <a href="./islamique" class="bouton2">voir plus</a>
        </div>
        
      </div>




      <!-- partie livre Politique -->
    <div class="container">
     
     
      <div class="card"  style="margin-top: 150px;">
        <div  class="carre">
          <div class="text">
            <h1>Livres Politiques</h1>
          </div>

          <div class="image">
            <img src="../picture/politiqu4-removebg-preview.png" alt="" height="100px" width="100px">
          </div>
          <div class="prix">
            <div class="titre">MANDELA</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>


        </div>
        <div  class="carre">
          <div class="image"><img src="../picture/politiqu4-removebg-preview.png" alt="" height="100px" width="100px"></div>
          <div class="prix">
            <div class="titre">MANDELA</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>
        </div>

        <div class="carre">
          <div class="image">
            <img src="../picture/politiqu4-removebg-preview.png" alt="" height="100px" width="100px">
          </div>
          <div class="prix">
            <div class="titre">MANDELA</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
            <a href="./politique" class="bouton2">voir plus</a>
          </div>
        </div>
        
      </div>


      <!-- partie livre sportif -->
    <div class="container">
     
     
      <div class="card" style="margin-top: 150px;">
        <div  class="carre">
          <div class="text">
            <h1>Livres Sportif</h1>
          </div>

          <div class="image">
            <img src="../picture/sport1-removebg-preview.png" alt="" height="100px" width="100px">
          </div>
          <div class="prix">
            <div class="titre">PELE</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>


        </div>
        <div  class="carre">
          <div class="image"><img src="../picture/sport1-removebg-preview.png" alt="" height="100px" width="100px"></div>
          <div class="prix">
            <div class="titre">PELE</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src="../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>
        </div>

        <div class="carre">
          <div class="image">
            <img src="../picture/sport1-removebg-preview.png" alt="" height="100px" width="100px">
          </div>
          <div class="prix">
            <div class="titre">PELE</div>
            <div class="price">Prix:200$</div>
          </div>
          <div class="bouton">
            <div class="img"><a href=""><img src=".../picture/panier.svg" alt=""></a></div>
            <div class="texte">Ajouter Au Panier</div>
          </div>
          <a href="./sportif" class="bouton2">voir plus</a>
        </div>
        
      </div>

    </div>




    <!-- partie temoignage -->
    <!-- PArtie temoignage -->
    <div class="content" style="margin-top: 40px">
      
      <div class="box2">
        <div class="card cardre">
          <div class="image">
            <img
              src="/picture/madjid.jpg"
              alt=""
              height="60px"
              width="60px"
              style="border-radius: 100%;"
             
            />
          </div>
          <div class="texts">
            <p>
              <!-- <strong class="nom" style="color: #00c853">Owo_Mi</strong>  -->
              Je tiens à exprimer ma profonde gratitude envers l'équipe de [Nom de la Librairie] pour 
              leur service exceptionnel et leur engagement envers les amoureux de la lecture comme moi.
               Cette librairie est bien plus qu'un simple lieu où l'on peut acheter des livres ; c'est un sanctuaire pour 
              les amoureux des mots, un endroit où les rêves prennent vie entre les pages de chaque ouvrage.
            </p>
          </div>
          <div class="reference">
            <!-- <div class="nom"><p>Yaya</p></div> -->
            <!-- <div class="numero"><span><img src="./picture/gauche.svg" alt="" srcset="" height="40px" width="40px"></span><strong>1</strong>2 <span><img src="./picture/droit.svg" alt="" height="40px" width="40px"></span></div> -->
          </div>
        </div>
        <div class="card cardre">
          <div class="image">
            <img
              src="/picture/madjid.jpg"
              alt=""
              height="60px"
              width="60px"
              style="border-radius: 100%;"
             
            />
          </div>
          <div class="texts">
            <p>
              <!-- <strong style="color: #00c853">Owo_Mi</strong> a transformé mes -->
              Je tiens à exprimer ma profonde gratitude envers l'équipe de [Nom de la Librairie] pour 
              leur service exceptionnel et leur engagement envers les amoureux de la lecture comme moi.
               Cette librairie est bien plus qu'un simple lieu où l'on peut acheter des livres ; c'est un sanctuaire pour 
              les amoureux des mots, un endroit où les rêves prennent vie entre les pages de chaque ouvrage.
            </p>
          </div>
          <div class="reference">
            <!-- <div class="nom"><p>Yaya</p></div> -->
            <!-- <div class="numero"><span><img src="./picture/gauche.svg" alt="" srcset="" height="40px" width="40px"></span>1<strong>2</strong><span><img src="./picture/droit.svg" alt="" height="40px" width="40px"></span></div> -->
          </div>
        </div>
        <div class="card cardre">
          <div class="image">
            <img
              src="/picture/madjid.jpg"
              alt=""
              height="60px"
              width="60px"
              style="border-radius: 100%;"
             
            />
          </div>
          <div class="texts">
            <p>
              <!-- <strong style="color: #00c853">Owo_Mi</strong>  -->
              Je tiens à exprimer ma profonde gratitude envers l'équipe de [Nom de la Librairie] pour 
              leur service exceptionnel et leur engagement envers les amoureux de la lecture comme moi.
               Cette librairie est bien plus qu'un simple lieu où l'on peut acheter des livres ; c'est un sanctuaire pour 
              les amoureux des mots, un endroit où les rêves prennent vie entre les pages de chaque ouvrage.
            </p>
          </div>
          <div class="reference">
            <!-- <div class="nom"><p>Yaya</p></div> -->
            <!-- <div class="numero"><span><img src="./picture/gauche.svg" alt="" srcset="" height="40px" width="40px"></span><strong>1</strong>2 <span><img src="./picture/droit.svg" alt="" height="40px" width="40px"></span></div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- PArtie temoignage -->


    <footer>
      <div class="box">
        <div class="card1">
          <h3 class="titre" style="margin-top: 25px">
            A propos
            <div class="urderline"><span></span></div>
          </h3>
          <p class="tt" style="font-size: 14px" >
            Hello ,nous somme <strong>MdServices</strong> un site de librairie  en ligne légal 
          . Vous y retrouverez de nombreux livres,des
            livres sportifs politiques ainsi que des livres islamique
            pour les grands et les petits
          </p>
        </div>
        <div class="card2">
          <h3 class="titre">
            Rejoignez Nous
            <div class="urderline"><span></span></div>
          </h3>
          <p>
            <a href=""><img src="/picture/facebook.svg" alt="" /></a>
            <a href="" style="margin-left: 5px; margin-right: 5px">
              <img src="/picture/whatsapp-128.svg" alt=""
            /></a>
            <a href=""><img src="/picture/telegram.svg" alt="" /></a>
          </p>
        </div>
        <div class="card3">
          <h3 class="titre">
            Contactez Nous
            <div class="urderline"><span></span></div>
          </h3>
          <p>01 53 53 50 65</p>
          <p>01 53 53 50 65</p>
        </div>
      </div>
      <br />
      <hr />
      <div class="copy">copyright © 2023 mena - côte d'ivoire</div>
    </footer>
    <script src="../js_frontend/index2.js"></script>
    <script src="../js_frontend/panier.js"></script>
  </body>
</html>
