* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.partie1 {
  width: 100%;
  height: 450px;
 background-position: center center;
  background-size: cover;
  margin-bottom: 20px;
  animation: myAnim 20s ease  infinite normal forwards;
}
@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
    background-image: url(/picture/gr1.jpg);
	}

	55%,
	75% {
		opacity: 1;
    background-image: url(/picture/gr2.jpg);
	}
}


.container {
  position: relative;
  min-height: auto;
  /* padding-bottom: 20px; */
  /* background-color: white; */
}
.grand{
  width:65%;
  height:auto;
  background-color: red;
  margin: 0px auto;
  }
.grand .text {
  color: black;
  padding: 15px;
  font-size: 10px;
  font-weight: normal;
  background-color: #eab52e;
  border-radius: 0px 68px 0px 0px;
  border-bottom: 2px solid #298fc2;
  width: 170px;
  position: absolute;
}
.container .card {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 10px;
  /* margin-top: 90px; */
}
.container .card .carre {
  height: auto;
  padding: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1.14px 0px 1.14px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: relative;

  /* overflow: hidden; */
}
.container .card .carre:hover {
  scale: 1.1;
  transition: 2s;
  margin: 10px 30px;
}

.container .card .carre .image {
  width: 200px;
  height: 100px;
  background-color: #f4da96;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .card .carre .prix {
  width: 200px;
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.prix .titre {
  margin-bottom: 10px;
}
.container .card .carre .bouton {
  width: 200px;
  height: 40px;
  background-color: #eab52e;
  padding: 0px 10px;
  color: #298fc2;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* partie temoignage */
/* partie temoignage */





.cadres {
  width: 50vw;
  height: 50vh;
  background-color: white;
  /* border: 1px solid #298fc2; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  border-radius: 15px;
  color: black;
  display: none;
  margin: 0px auto;
  overflow: hidden;
}

.cadres .croix {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #298fc2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.cadres .bouton {
  width: 300px;
  /* background-color: #00c853; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.bt {
  width: auto;
  padding: 10px;
  border-radius: 100px;
  background-color: #eab52e;
}
